<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/vCard/layout}">

<head></head>
<body>
   <div layout:fragment="content">
	   <div class="box box-content">
		   <div class="pb-2">
			   <h1 class="title title--h1 first-title title__separate">分类([[${categoryNum}]])</h1>
		   </div>

		   <div class="row">
			   <div class="col-sm-6 col-md-4" th:each="category,iterStat: ${categoryList}">
				   <div class="category-item">
					   <a data-pjax th:href="@{'/categories/'+${category.name}+'/'}">
						   <img th:data-original="@{${category.coverUrl}}" class="lazyload">
						   <div class="mask"><span>[[${category.remark}]]</span></div>
						   <div class="descr">
							   [[${category.name}]]<span>([[${category.postNum}]])</span>
						   </div>
					   </a>
				   </div>
			   </div>
		   </div>
		   <div th:if="${count == 0}" th:style="'text-align:center;'" th:text="'~~作者偷懒，没有创建分类栏目~~'"></div>

	   </div>
   </div>
</body>
</html>