<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/vCard/layout}">

<head></head>
<body>
   <div layout:fragment="content">
	   <div class="box box-content">
		   <div class="pb-2">
			   <h1 class="title title--h1 first-title title__separate">分类([[${categoryNum}]])</h1>
		   </div>

		   <!-- Gallery -->
		   <div class="gallery-grid js-grid-row js-filter-container">
			   <div class="gutter-sizer"></div>
			   <!-- Item 1 -->
			   <figure class="gallery-grid__item category-concept" th:each="category,iterStat: ${categoryList}">
				   <div class="gallery-grid__image-wrap">
					   <a th:href="@{'/categories/'+${category.name}+'/'}">
						   <img class="gallery-grid__image cover lazyload" th:src="@{${category.coverUrl}}" data-zoom alt="" />
					   </a>
				   </div>
				   <figcaption class="gallery-grid__caption">
					   <h4 class="title title--h6 gallery-grid__title" style="text-align: center">[[${category.name}]]<span>([[${category.postNum}]])</span></h4>
				   </figcaption>
			   </figure>

		   </div><!-- Gallery End -->
	   </div>
   </div>
</body>
</html>