<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${#servletContext.getAttribute('configMap')['blog_name']}">个人博客</title>
    <meta name="author" th:content="${#servletContext.getAttribute('configMap')['blog_author']}">
    <meta name="keywords" th:content="${#servletContext.getAttribute('configMap')['keywords']}" />
    <meta name="referrer" content="no-referrer" />
    [(${#servletContext.getAttribute('configMap')['meta_code']})]
    <link rel="dns-prefetch" th:href="@{'//cdn.jsdelivr.net'}">
    <link rel="shortcut icon" th:href="@{${#servletContext.getAttribute('configMap')['favicon_url']}}"/>
    <link rel="stylesheet" th:href="@{${baseLink} + '/source/js/bootstrap-3.3.7/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{${baseLink} + '/source/fonts/font-awesome/css/font-awesome.min.css'}"/>
    <link rel="stylesheet" th:href="@{${baseLink} + '/source/js/iziModal/css/iziModal.min.css'}">
    <link rel="stylesheet" th:href="@{${baseLink} + '/source/styles/animate.css'}">
    <link rel="stylesheet" th:href="@{${baseLink} + '/source/js/highlightjs/styles/github-gist.css'}"/>
    <link rel="stylesheet" th:href="@{${baseLink} + '/source/js/fancybox/jquery.fancybox.min.css'}"/>
    <link rel="stylesheet" th:href="@{${baseLink} + '/source/js/overshare/css/share.min.css'}"/>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{${prefix} + '/source/styles/app.css?v=' + ${activeTheme.configMap['version']}}"/>
</head>
<body>

<div class="preloader">
    <div class="preloader__wrap">
        <div class="circle-pulse">
            <div class="circle-pulse__1"></div>
            <div class="circle-pulse__2"></div>
        </div>
        <div class="preloader__progress"><span></span></div>
    </div>
</div>

<!-- Scroll Indicator -->
<div class="scroll-line"></div>

<main class="main">
    <!-- Header Image -->
    <div class="header-image">
        <div class="js-parallax" th:if="${#strings.isEmpty(currentNav.cover)}" th:style="'background-image: url(' + ${prefix} + '/source/images/image_header.jpg' + ');'"></div>
        <div class="js-parallax" th:unless="${#strings.isEmpty(currentNav.cover)}" th:style="'background-image: url(' + ${currentNav.cover} + ');'"></div>
    </div>

    <div class="container gutter-top" id="pageContainer">
        <!-- Header -->
        <header class="header box">
            <div class="header__left">
                <div class="header__photo">
                    <a th:href="@{/about/}">
                        <img class="header__photo-img" th:src="@{${#strings.isEmpty(#servletContext.getAttribute('configMap')['blog_avatar']) != true ? #servletContext.getAttribute('configMap')['blog_avatar'] :
                        (#strings.isEmpty(#servletContext.getAttribute('configMap')['logo_url']) !=true ? #servletContext.getAttribute('configMap')['logo_url'] : prefix + '/source/images/logo.svg')}}">
                    </a>
                </div>
                <div class="header__base-info">
                    <h2 class="title titl--h4" th:text="${#servletContext.getAttribute('configMap')['blog_name']}"></h2>
                    <ul class="header__social">
                        <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['git_hub_account']) != true}"><a th:href="@{${#servletContext.getAttribute('configMap')['git_hub_account']}}" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                        <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['qq_account']) != true}"><a class="social-way" title="qq号,点击复制" th:data-clipboard-text="${#servletContext.getAttribute('configMap')['qq_account']}"><i class="fa fa-qq social-btn"></i></a></li>
                        <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['wx_account']) != true}"><a class="social-way" title="微信号,点击复制" th:data-clipboard-text="${#servletContext.getAttribute('configMap')['wx_account']}"><i class="fa fa-wechat social-btn"></i></a></li>
                        <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['email']) != true}"><a class="social-way" title="邮箱,点击复制" th:data-clipboard-text="${#servletContext.getAttribute('configMap')['email']}"><i class="fa fa-envelope-o social-btn"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="header__right">
                <ul class="header__contact">
                    <li><a th:href="@{/archives/}"><span class="overhead">文章数</span><span th:text="${#servletContext.getAttribute('postNum')}"></span></a></li>
                    <li><a th:href="@{/categories/}"><span class="overhead">分类数</span><span th:text="${#servletContext.getAttribute('categoryNum')}">无</span></a></li>
                </ul>
                <ul class="header__contact">
                    <li><a th:href="@{/tags/}"><span class="overhead">标签数</span><span th:text="${#servletContext.getAttribute('tagNum')}"></span></a></li>
                    <li><a th:href="@{/friendLinks/}"><span class="overhead">友链数</span><span th:text="${#servletContext.getAttribute('friendLinkNum')}"></span></a></li>
                </ul>
            </div>
        </header>

        <div class="row sticky-parent">
            <!-- Sidebar nav -->
            <aside class="col-12 col-md-12 col-lg-2">
                <div class="sidebar box sticky-column">
                    <ul class="nav">
                        <li class="nav__item" th:each="nav : ${#servletContext.getAttribute('firstNav')}">
                            <a th:href="@{${nav.link}}" th:data-link="${nav.link}" th:class="${currentNav.code eq nav.code ? 'item active' : 'item'}">
                                <i th:class="${nav.icon}"></i> [[${nav.name}]]
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>

            <!-- Content -->
            <div class="col-12 col-md-12 col-lg-10">
                <div layout:fragment="content" ></div>
                <!-- Footer -->
                <div style="text-align: center; margin-top: 1rem" th:utext="${#servletContext.getAttribute('configMap')['power_by']}">© 2020 vCard</div>
                <footer id="footer-copyright" class="footer">
                    <a href="https://beian.miit.gov.cn/" target="_blank" th:utext="${#servletContext.getAttribute('configMap')['record']}"></a>
                </footer>
            </div>
        </div>
    </div>
</main>

<div class="real-time-search-container" id="real-time-search-container"></div>

<div class="back-to-top"></div>

<!-- SVG masks -->
<svg class="svg-defs">
    <clipPath id="avatar-box">
        <path d="M1.85379 38.4859C2.9221 18.6653 18.6653 2.92275 38.4858 1.85453 56.0986.905299 77.2792 0 94 0c16.721 0 37.901.905299 55.514 1.85453 19.821 1.06822 35.564 16.81077 36.632 36.63137C187.095 56.0922 188 77.267 188 94c0 16.733-.905 37.908-1.854 55.514-1.068 19.821-16.811 35.563-36.632 36.631C131.901 187.095 110.721 188 94 188c-16.7208 0-37.9014-.905-55.5142-1.855-19.8205-1.068-35.5637-16.81-36.63201-36.631C.904831 131.908 0 110.733 0 94c0-16.733.904831-37.9078 1.85379-55.5141z"/>
    </clipPath>
    <clipPath id="avatar-hexagon">
        <path d="M0 27.2891c0-4.6662 2.4889-8.976 6.52491-11.2986L31.308 1.72845c3.98-2.290382 8.8697-2.305446 12.8637-.03963l25.234 14.31558C73.4807 18.3162 76 22.6478 76 27.3426V56.684c0 4.6805-2.5041 9.0013-6.5597 11.3186L44.4317 82.2915c-3.9869 2.278-8.8765 2.278-12.8634 0L6.55974 68.0026C2.50414 65.6853 0 61.3645 0 56.684V27.2891z"/>
    </clipPath>
</svg>

<!-- JavaScripts -->
<script th:inline="javascript">
    let themeName = [[${activeTheme.name}]];
    let version = [[${activeTheme.configMap['version']}]];
    let baseLink = [[${baseLink}]];
</script>
<script th:src="@{${baseLink} + '/source/js/plugins.js'}"></script>
<script th:src="@{${baseLink} + '/source/js/fancybox/jquery.fancybox.min.js'}"></script>
<script th:src="@{${baseLink} + '/source/js/layer/layer.js'}"></script>
<script th:src="@{${baseLink} + '/source/js/clipboard.min.js'}"></script>
<script th:src="@{${prefix} + '/source/js/app.js?v=' + ${activeTheme.configMap['version']}}"></script>
[(${#servletContext.getAttribute('configMap')['script_code']})]
</body>
